.container{
    display: flex;
    margin: 2% 5%;
    align-items: center;
    justify-content: space-between;
}
.title{
        background: url(https://images.unsplash.com/photo-1495366554757-8568e69d7f80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
        font-size: 90px;
        padding-top: 25px;
        width: 100%;
        font-weight: 600;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: textCycle 5s ease infinite;
        /* background-position: 100px; */
}
.heroContent{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50%;
}
.p{
    /* color: lightgray; */
}
.heroImage{
    animation: image 6s ease infinite;
}
.heroImage > img{
    border-radius: 36px;
    width: 500px;
    height: 500px;
}
@keyframes image {
    0% {
        transform: translateY(0px);
    }
    20%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes textCycle {
    0% {
        background-position :none ;
    }
    20%{
        background-position: 5% ;
    }
    40%{
        background-position: 10% ;
    }
    60% {
        background-position: 20% ;
    }
    80% {
        background-position: 10% ;
    }
    100% {
        background-position: none ;
    }
}

@media screen and (max-width:800px) {
    .container{
        flex-direction: column-reverse;
        gap:50px
    }
    .heroContent{
        width: 100%;
    }
    .title{
        font-size: 70px;
    }
    .heroImage > img{
        width: 400px;
        height: 400px;
    }
}
